/* Pages diverses */
#duree, #budget
  border: none
  background: none

/* Page register */
#register-description
  height: 50px

#register-limit-label
  margin-bottom: 10px

#remember
  float: left
  width: auto
  height: auto
  margin-right: 10px