// STAT PANELS
.stat-panel
  margin-bottom: 0

// BOUTONS

#filter-buttons
  margin: 20px 0

.form-group-margin
  margin-bottom: 0!important

.hide
  display: none

.btn-ajout
  margin: 0

// TABLE

.table-light
  margin-top: 30px

.table

  td:last-child
    max-width: 50px

  img
    max-width: 50px

  .btn-actions
    margin-right: 10px

  .btn-actions:first-child
    margin-bottom: 10px


