.btn-ajout
  float: right
  margin-bottom: 30px

.table

  td:last-child
    max-width: 50px

  img
    max-width: 50px

  .btn-actions
    margin-right: 10px

  .btn-actions:first-child
    margin-bottom: 10px
